
<div style="text-align: center;">
    <div id="content">
<div class="container"  >
    <br />
    <br />
    <div class="row">
      <div class="col-6">
        <div class="card" style="width: 30rem">
          <div class="card-body">
            <h5 class="card-title">Please sign in</h5>
            <hr />
            <form>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingMail" />
                <label for="floatingInput">E-mail</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingPassword" />
                <label for="floatingPassword">Password</label>
              </div>
              
              <button type="submit" class="btn btn-primary">Se Connecter</button>
            </form>
          </div>
        </div>
      </div>
      
    </div>
<p>if you dont have an account please </p> <a routerLink="/singup"> Sign up</a>
</div>
  </div>

  