<div class="container-fluide">
  <div class="row justify-content-evenly">
    <div class="col-sm-12 card">
      <div class="card-body table-responsive">
        <div class="header">
          <h2>Liste des factures</h2>

          <div
            class="btn-group"
            ngbDropdown
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button
              class="exporter btn btn-outline-secondary"
              ngbDropdownToggle
            >
              Exporter
              <i class="bi bi-box-arrow-up"></i>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem (click)="downloadFile(detailsFacture)">
                En CSV
              </button>
              <button ngbDropdownItem (click)="exportAsXLSX()">En Excel</button>
            </div>
          </div>
        </div>
        <hr />
        <table class="table">
          <thead class="text-center">
            <tr>
              <th>Montant (dt)</th>
              <th>Remise (dt)</th>
              <th>Date de création</th>
              <th>Status</th>
              <th>Details</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr
              *ngFor="
                let f of detailsFacture
                  | paginate: { itemsPerPage: 3, currentPage: p };
                let i = index
              "
            >
              <th>{{ f.facture.montantFacture | currency: "TND" }}</th>
              <th>{{ f.facture.montantRemise | currency: "TND" }}</th>
              <th>{{ f.facture.dateFacture | date: "dd-MM-yyyy" }}</th>
              <th>
                <span
                  *ngIf="f.facture.active == true"
                  class="badge rounded-pill bg-success"
                >
                  active
                </span>
              </th>
              <th>
                <a [routerLink]="['/details', f.idDetailFacture]">
                  <i class="bi bi-info-square-fill"></i>
                </a>
              </th>
              <th>
                <button
                  class="btn btn-outline-danger mx-2"
                  (click)="
                    FactureaSupprimer(f.facture, i); open(contentConfirme)
                  "
                >
                  <i class="bi bi-trash"> </i>
                </button>

                <button
                  class="btn btn-outline-warning"
                  (click)="ShowModifierFacture(f, i)"
                >
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button
                  *ngIf="f.facture.active == true"
                  class="btn btn-outline-info mx-2"
                  (click)="FactureaBloquer(f.facture, i); open(contentBloque)"
                >
                  <i class="bi bi-lock"></i>
                </button>
              </th>
            </tr>
          </tbody>
          <hr />
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </table>
      </div>
    </div>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          Ajouter une Facture
          <i class="bi bi-file-earmark-text"></i>
        </h4>
        <button
          type="button"
          class="close btn btn-outline-danger"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div ngForm #f1="ngForm">
            <div class="form-floating mb-3">
              <input
                type="number"
                name="montant"
                ngModel
                [(ngModel)]="detailfacture.facture.montantFacture"
                #montant="ngModel"
                required
                class="form-control"
              />
              <label for="floatingInput">Montant Facture</label>
              <div *ngIf="montant.touched && montant.errors">
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="montant.errors.required"
                >
                  Champ Obligatoire
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                name="remise"
                [(ngModel)]="detailfacture.facture.montantRemise"
                #remise="ngModel"
                required
                class="form-control"
              />
              <label for="floatingPassword">Remise</label>
              <div *ngIf="remise.touched && remise.errors">
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="remise.errors.required"
                >
                  Champ Obligatoire
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="f1.valid" ngForm #f2="ngForm">
            <div class="form-floating mb-3">
              <input
                type="number"
                name="pourcentageRemise"
                [(ngModel)]="detailfacture.pourcentageRemise"
                #pourcentageRemise="ngModel"
                required
                class="form-control"
              />
              <label for="floatingPassword">Pourcentage Remise</label>
              <div
                *ngIf="pourcentageRemise.touched && pourcentageRemise.errors"
              >
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="pourcentageRemise.errors.required"
                >
                  Champ Obligatoire
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                name="prixTotal"
                [(ngModel)]="detailfacture.prixTotal"
                #prixTotal="ngModel"
                required
                class="form-control"
              />
              <label for="floatingInput">Prix Totale</label>
              <div *ngIf="prixTotal.touched && prixTotal.errors">
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="prixTotal.errors.required"
                >
                  Champ Obligatoire
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="btn btn-outline-dark"
                (click)="modal.close('Save click'); ajouter(); refresh()"
                [disabled]="f1.invalid || f2.invalid"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
    <ng-template #contentDetail let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          Détails d'une Facture
          <i class="bi bi-file-earmark-text"></i>
        </h4>
        <button
          type="button"
          class="close btn btn-outline-danger"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- <div class="modal-body">
        <div class="row">
          <h5 class="col-6">Pourcentage Remise :</h5>
          <label class="col-4"
            >{{ factureDetail.detailFacture[0].pourcentageRemise }} %
          </label>
        </div>
        <div class="row">
          <h5 class="col-6">Montant Remise :</h5>
          <label class="col-4"
            >{{ factureDetail.detailFacture[0].montantRemise }} dt</label
          >
        </div>
        <div class="row">
          <h5 class="col-6">Quantité :</h5>
          <label class="col-4">{{ factureDetail.detailFacture[0].qte }}</label>
        </div>
        <div class="row">
          <h5 class="col-6">Prix totale :</h5>
          <label class="col-4"
            >{{ factureDetail.detailFacture[0].prixTotal }} dt</label
          >
        </div>
      </div> -->
    </ng-template>

    <ng-template #contentBloque let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title1">Bloquer le facture</h4>
        <button
          type="button"
          class="btn btn-outline-danger"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Vous voulez vraiment bloquer cette facture ?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="modal.close('close')"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="BloqueFacture(factureBloquer); modal.close('Save click')"
        >
          Bloque
        </button>
      </div>
    </ng-template>

    <ng-template #contentConfirme let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title1">
          Supprimer le facture
        </h4>
        <button
          type="button"
          class="btn btn-outline-danger"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Vous voulez vraiment supprimer cette facture ?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="modal.close('close')"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="
            SupprimerFacture(factureSupprimer); modal.close('Save click')
          "
        >
          Delete
        </button>
      </div>
    </ng-template>

    <div class="row justify-content-evenly">
      <div class="col-sm-5 card">
        <div class="card-body">
          <div class="header">
            <h3 class="card-title text-center">Ajouter une Facture</h3>
            <i
              class="bi bi-file-earmark-plus-fill"
              style="font-size: 1.5em"
            ></i>
          </div>

          <hr />
          <p class="card-text">
            Vous pouvez ajouter une facture en cliquant sur le bouton en bas .
          </p>
          <button
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            (click)="open(content)"
          >
            <i class="bi bi-plus"></i>
            Ajouter une facture
          </button>

          <hr />
        </div>
      </div>
      <div class="col-sm-5 card">
        <div [hidden]="!show" class="card-body">
          <div class="header">
            <h3 class="card-title text-center">Modification Facture</h3>
            <i class="bi bi-gear-fill" style="font-size: 1.5em"></i>
          </div>

          <hr />
          <form ngForm #formEdit="ngForm">
            <div class="form-floating mb-3">
              <input
                type="number"
                name="montant"
                [(ngModel)]="factureModifier.facture.montantFacture"
                #montant="ngModel"
                required
                class="form-control"
              />
              <label for="floatingInput">Montant Facture</label>
              <div *ngIf="montant.touched && montant.errors">
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="montant.errors.required"
                >
                  Champ Obligatoire
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                name="remise"
                [(ngModel)]="factureModifier.facture.montantRemise"
                value="{{ factureModifier.facture.montantRemise }}"
                #remise="ngModel"
                required
                class="form-control"
                id="floatingPassword"
              />
              <label for="floatingPassword">Remise</label>
              <div *ngIf="remise.touched && remise.errors">
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="remise.errors.required"
                >
                  Champ Obligatoire
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                name="pourcentageRemise"
                ngModel
                value="{{ factureModifier.pourcentageRemise }}"
                [(ngModel)]="factureModifier.pourcentageRemise"
                #pourcentageRemise="ngModel"
                required
                class="form-control"
              />
              <label for="floatingPassword">Pourcentage Remise</label>
              <div
                *ngIf="pourcentageRemise.touched && pourcentageRemise.errors"
              >
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="pourcentageRemise.errors.required"
                >
                  Champ Obligatoire
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="number"
                name="prixTotal"
                ngModel
                [(ngModel)]="factureModifier.prixTotal"
                value="{{ factureModifier.prixTotal }}"
                #prixTotal="ngModel"
                required
                class="form-control"
              />
              <label for="floatingInput">Prix Totale</label>
              <div *ngIf="prixTotal.touched && prixTotal.errors">
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="prixTotal.errors.required"
                >
                  Champ Obligatoire
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button
                type="submit"
                (click)="ModifierFacture(factureModifier)"
                class="btn btn-outline-dark"
              >
                Modifier
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
