
<div style="text-align: center;">
    <div id="content">
<div class="container"  >
    <br />
    <br />
    <div class="row">
      <div class="col-6">
        <div class="card" style="width: 30rem">
          <div class="card-body">
            <h5 class="card-title"> Sign Up</h5>
            <hr />
            <form>
               <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingNom" />
                    <label for="floatingInput">Nom</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingPrenom" />
                <label for="floatingInput">Prenom</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingMail" />
                <label for="floatingInput">E-mail</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingPassword" />
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-floating mb-3">
                <input type="date" class="form-control" id="floatingDate" />
                <label for="floatingInput">Date de naissance</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingprofession" />
                <label for="floatingInput">Profession</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingCategorie" />
                <label for="floatingInput">Categorie</label>
              </div>
              <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
          </div>
        </div>
      </div>
      
    </div>

</div>
  </div>

  